@charset "utf-8";

$bg-color: rgb(243, 244, 246);

$color-primary: rgb(55 65 81);
$color-primary-light: #fff;
$color-primary-dark: #000;
$color-primary-dark: #000;

$main-container-border: 0;
$color-text: white;
$message-input-placeholder-color: rgb(206, 206, 206);
$button-send-color: black;

$message-list-bg-color: $bg-color;
$message-list-typing-indicator-bg-color: $bg-color;

$chat-container-message-input-bg-color: $bg-color;

$main-container-border: 0;

@import '../../../node_modules/@chatscope/chat-ui-kit-styles/themes/default/variables';
@import '@chatscope/chat-ui-kit-styles/themes/default/main.scss';
@import '../../../node_modules/@chatscope/chat-ui-kit-styles/themes/default/main';
@import '../../../node_modules/@chatscope/chat-ui-kit-styles/themes/default/helpers/mixins';
@import '../../../node_modules/@chatscope/chat-ui-kit-styles/themes/default/helpers/functions';
